doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title chest.store

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // highlight.js
        link(href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css", link rel="stylesheet")

        // toastr
        link(href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css",rel="stylesheet")

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top')
                  img.img-fluid(style="max-width: 50px;",src='assets/img/cheststore-color.png', alt='')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#use-cases') Use Cases
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#features') Features
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#try') Try it Out!
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#signup') Contact
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='https://blog.chest.store',target="_blank",rel="noopener noreferrer") Blog
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='https://github.com/cheststore',target="_blank",rel="noopener noreferrer")
                              i.fab.fa-github

        // Masthead
        header.masthead
            .container.d-flex.h-100.align-items-center
                .mx-auto.text-center
                    h1.mx-auto.my-0.text-uppercase
                      img.img-fluid.logo-main(src="assets/img/cheststore-color-full.png")
                    h2.text-black-50.mx-auto.my-5
                      | Open-source, lightweight, and hackable single pane of glass
                      | cloud object explorer &amp; git server
                    //- a.btn.btn-primary.js-scroll-trigger(href='#about') Check it out!
                    a.btn.btn-primary.js-scroll-trigger(
                      href='https://github.com/cheststore/chest.store/blob/master/README.md#install',
                      target="_blank",
                      rel="noopener noreferrer") Install

        // About
        section#about.about-section
            .container
                .row.text-center
                    .col-lg-6.mb-5.mb-lg-0
                        h2.text-primary.mb-4 Object Explorer
                        p.text-black-50.mb-5
                          | Use chest.store to serve as a single interface to manage all of your
                          | files and objects regardless of the storage provider they live in. Do
                          | you personally have files in Dropbox, but your company manages policies
                          | in AWS S3 or GCS? With a single login you can manage all your files seamlessly.
                        img.border.rounded.img-fluid(
                          style="box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.14)"
                          src="assets/img/app-ex1-objexp.png")
                    .col-lg-6.mb-lg-0
                        h2.text-primary.mb-4
                          img(style="max-height: 40px" class="mx-2" src='assets/img/git-logo-red.png', alt='')
                          | server
                        p.text-black-50.mb-4
                            | Most users who have written any kind of software, particularly FOSS
                            | have used git in some capacity. You've likely utilized Github or Gitlab
                            | to host the source of truth for your code.
                            | chest.store has a built in git server for you to
                            | host your repositories for you and store in your cloud storage bucket(s),
                            | effectively allowing you to host your own personal Github.
                        pre.rounded.text-left(style="font-size: 0.65rem;")
                          code.sh.p-3
                            | $ git clone https://github.com/antirez/redis
                            | $ cd redis
                            | $ # `https://app.chest.store` below can be replaced with your chest.store server
                            | $ git remote add chest https://app.chest.store/git/$YOUR_USERNAME/redis
                            | $ git push chest master
                            | $ # when prompted, authenticate with your chest.store username and password
                //- img.img-fluid(src='assets/img/ipad.png', alt='')

        // Use Cases
        section#use-cases.use-case-section.bg-light
          .container.text-center
              div.row
                  div.col-lg-6.mb-4
                      h4.text-success #[i.fa.fa-check-circle] Good Use Cases
                      ul.text-left.mb-0
                          li Easily browse objects/files in buckets between multiple cloud storage providers
                          li Have a way to update files in the cloud and easily track changes to files via git repos and standard commands (i.e. <code>git log</code>)
                          li Host your own git server for you and/or your team and control where your code lives
                          li Have a place to easily create public links for others to access/download individual files and optionally password protect or expire them
                          li Have a way to interact with buckets &amp; objects/files across providers easily through <a href='https://github.com/cheststore/cli' target="_blank" rel="noopener noreferrer">a CLI</a>
                          li Have a solution to easily query and pull down files from cloud providers to slack (slackbot coming soon)
                  div.col-lg-6.mb-4
                      h4.text-danger #[i.fa.fa-times-circle] Poor Use Cases
                      ul.text-left.mb-0
                          li Perform full text search on tens of millions+ log files in chest.store
                          li Train ML models against tens of millions+ objects from chest.store
                          li Stream movies from files that live in cloud storage
        
        // Features
        section#features.projects-section
            .container
                // Featured Project Row
                .row.align-items-center.no-gutters.mb-4.mb-lg-5
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 Cloud Storage Integrations
                            p.text-black-50.mb-0
                                | chest.store supports several of the largest cloud object storage
                                | providers in the marketplace and we have plans of integrating
                                | more. Easily add buckets &amp; directories you'd like to browse for
                                | files from these vendors all in the same UI and 
                                | manage version histories through automatically created and updated git repos.
                                | We'd love to hear from you if there is a cloud storage vendor
                                | chest.store does not currently support that you'd like to see
                                | supported.
                    .col-xl-8.col-lg-7
                        div.card.border-0
                          div.card-body
                            div.row
                              div.col-md-6.mb-3
                                div.card
                                  div.card-body.p-3.d-flex.flex-column.align-items-center
                                    img.img-fluid.vendor(src='assets/img/aws_logo.png', alt='')
                                    div.text-primary AWS S3
                              div.col-md-6.mb-3
                                div.card
                                  div.card-body.p-3.d-flex.flex-column.align-items-center
                                    img.img-fluid.vendor(src='assets/img/google_cloud.png', alt='')
                                    div.text-primary Google Cloud Storage
                              div.col-md-6.mb-3
                                div.card
                                  div.card-body.p-3.d-flex.flex-column.align-items-center
                                    img.img-fluid.vendor(src='assets/img/dropbox_logo.png', alt='')
                                    div.text-primary Dropbox
                              div.col-md-6.mb-3
                                div.card
                                  div.card-body.p-3.d-flex.flex-column.align-items-center
                                    img.img-fluid.vendor(src='assets/img/file_system.png', alt='')
                                    div.text-primary Local File System*
                              div.col-12.mb-3.mb-lg-0.small.text-primary
                                div * Supports the file system where the chest.store server is installed.
                        //- img.img-fluid.mb-3.mb-lg-0(src='assets/img/bg-masthead.jpg', alt='')
                // Project One Row
                .row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    .col-lg-6
                        img.img-fluid(src='assets/img/integrations-gray.jpg', alt='')
                    .col-lg-6
                        .bg-yellow.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-primary Single Pane of Glass
                                    p.mb-0.text-black
                                        | chest.store allows you to integrate all of your cloud storage buckets &amp; directories
                                        | into a single interface and browse, download, and upload objects, all the while
                                        | automatically saving object version histories using a built-in git server.
                                    hr.d-none.d-lg-block.mb-0.mr-0
                // Project Two Row
                .row.justify-content-center.no-gutters
                    .col-lg-6.border.d-flex.align-items-center.p-5(style="box-shadow: inset 0 0px 8px 0 rgba(0, 0, 0, 0.14);")
                        img.img-fluid(src='assets/img/git-logo-red.png', alt='')
                    .col-lg-6.order-lg-first
                        .bg-yellow.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-primary Git Integration
                                    p.mb-0.text-black
                                        | chest.store has a built in git server and client that is used primarily
                                        | to update and store object version histories in managed repos per object.
                                        | These repos can be cloned, pulled, pushed, etc. just like any git repo that
                                        | you're used to today.
                                        | <br><br>
                                        | #[strong As a bonus, the git server can be used like any other git remote (think Github, Gitlab, etc.)!]
                                    hr.d-none.d-lg-block.mb-0.ml-0
                // Project Three Row
                .row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    .col-lg-6.d-flex.align-items-flex
                        //- img.img-fluid(src='assets/img/integrations-gray.jpg', alt='')
                        pre.small.d-flex.align-items-flex
                          code.sh.small.p-3
                            | $ npm install -g @cheststore/cli
                            | $ chest ls
                            | BUCKET                 ID                                   FULL_PATH                                                             NAME                                           
                            | (aws) test.chest.store 30bf63bd-163b-4f0c-a83c-849c3f7103d9 .chest.store.git/test/1cdcb69b-5984-465e-a93c-e868a889941d.git.tar.gz 1cdcb69b-5984-465e-a93c-e868a889941d.git.tar.gz
                            | (aws) test.chest.store f95fc6e3-73ee-4353-a74a-f7faa5a53ffc .chest.store.git/test/41507658-5a3a-4013-98a7-16ec18db50a8.git.tar.gz 41507658-5a3a-4013-98a7-16ec18db50a8.git.tar.gz
                            | (aws) test.chest.store e85dee05-9195-49cb-862e-dd03fd07efc0 .chest.store.git/test/chest.store.git.tar.gz                          chest.store.git.tar.gz                         
                            | (aws) test.chest.store c92e7ed2-fd94-4803-bf09-81adf561bdec .chest.store.git/test/chest.store-website.git.tar.gz                  chest.store-website.git.tar.gz                 
                            | (aws) test.chest.store 5929907c-a29b-45de-b40b-e4e1f3c05ca7 LICENSE                                                               LICENSE                                        
                            | (aws) test.chest.store 701de8ee-5ddb-41bb-9818-16e647c8480e .chest.store.git/test/359cea9e-915c-4736-a49b-00812b1a534a.git.tar.gz 359cea9e-915c-4736-a49b-00812b1a534a.git.tar.gz
                            |
                            | $ chest ls README
                            | BUCKET                 ID                                   FULL_PATH       NAME           
                            | (aws) test.chest.store 199cd6fd-8e92-450e-9306-03bede8c0a42 README.md       README.md      
                            |
                            | $ chest download 199cd6fd-8e92-450e-9306-03bede8c0a42
                            | Successfully downloaded file to README.md
                    .col-lg-6
                        .bg-yellow.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-primary <a href="https://github.com/cheststore/cli" target="_blank" rel="noopener noreferrer">Command Line Interface</a>
                                    p.mb-0.text-black
                                        | Easy to install and use <a href="https://github.com/cheststore/cli" target="_blank" rel="noopener noreferrer">CLI</a> interface to make all your objects
                                        | manageable and portable regardless of the machine you're on.
                                    hr.d-none.d-lg-block.mb-0.mr-0

        // Try it Out
        section#try.try-section.bg-light
            .container
                .row
                    .col-lg-6.mx-auto
                        .card
                            .card-body.text-center
                                h2.text-primary Try it Out!
                                div
                                  | Feel free to use the following test instance and credentials
                                  | to login and poke around before needing to commit any time
                                  | into installing and/or integrating your own buckets with your
                                  | own instance.
                                div.d-flex.justify-content-center
                                  div.alert.alert-success.my-2
                                    div URL: #[strong #[a(href="http://test.chest.store",target="_blank",rel="noopener noreferrer") http://test.chest.store]]
                                    div Username: #[strong test] 
                                    div Password: #[strong test] 
                                div.small
                                  div.my-3
                                    strong
                                      | P.S. This instance's database #[a(href="https://github.com/cheststore/wipe-test-instance",target="_blank",rel="noopener noreferrer") resets every few hours], so keep
                                      | in mind any uploads or git pushes you make will be wiped clean
                                      | at each refresh.
                                  div
                                    i
                                      | P.P.S. This test instance is running on a t2.micro in AWS, so could
                                      | easily get overloaded if too many people are in it at once. I'll do
                                      | my best to keep this up, running, and healthy at all times and will upgrade
                                      | to a bigger instance if traffic consistently stays high.

        // Signup
        section#signup.signup-section
            .container
                .row
                    .col-md-10.col-lg-8.mx-auto.text-center
                        i.far.fa-paper-plane.fa-2x.mb-2.text-primary
                        h2.text-primary.mb-5 Interested in a hosted offering? Sign up here and we'll update you when we are up and running!
                        form#signup-form(action="https://formspree.io/mqkyqwze" method="POST")
                            div.form-group
                              input#signup-email.form-control(
                                type='email'
                                name="email"
                                placeholder='Enter email address...')
                            div.form-group
                              textarea#signup-notes.form-control(
                                name="notes"
                                placeholder="Any additional information you'd like us to know?")
                            div.form-group.mb-0
                              button#signup-submit.btn.btn-primary.mx-auto(type='submit') Subscribe

        // Contact
        section.contact-section.bg-yellow
            .container
                .row
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Address
                                hr.my-4
                                .small.text-black-50 Atlanta, GA
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4
                                .small.text-black-50
                                    a(href='mailto:hello@chest.store') hello@chest.store
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Phone
                                hr.my-4
                                .small.text-black-50 Coming Soon
                .social.d-flex.justify-content-center
                    //- a.mx-2(href='#!',target="_blank",rel="noopener noreferrer")
                    //-     i.fab.fa-twitter
                    //- a.mx-2(href='#!',target="_blank",rel="noopener noreferrer")
                    //-     i.fab.fa-facebook-f
                    a.mx-2(href='https://github.com/cheststore',target="_blank",rel="noopener noreferrer")
                        i.fab.fa-github

        // Footer
        footer.footer.bg-yellow.small.text-center.text-primary
            .container
                | Copyright © chest.store 2020

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // highlight.js
        script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js")

        // toastr
        script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js')

        // google analytics
        script(async,src="https://www.googletagmanager.com/gtag/js?id=UA-169004081-1")

        // Core theme JS
        script(src='js/scripts.js')
